@{
    bool usuarioAutenticado = User.Identity.IsAuthenticated;
}

@using System.Security.Claims


@model WriteMe_MVC.ViewModels.PostViewModel

@{
    ViewData["Title"] = "PostDetails";
}

<h1 class="text-center mt-5 mb-4 text-white" style="font-family: 'Noto Serif Balinese', serif;"> @Html.DisplayFor(model => model.PostTitulo)</h1>

<div class="bg-white py-3 px-4 rounded-2">

    <div class="row d-flex">
        <div class="col-11">
            <div class="d-flex align-items-center">
                <h3 class="me-2">
                    <a href="@Url.Action("GetPostsForCurrentUser", "Usuarios")" class="btn btn-link p-0">
                        <i class="bi bi-arrow-left-circle-fill text-dark" style="font-size: 1.5rem;"></i>
           
                    </a>
                </h3> 
                <h6 style="font-size:13px;"> @Html.DisplayFor(model => model.PostUsuarioNombre) <br />Publicado @Html.DisplayFor(model => model.PostFechaPublicacion)</h6> 
                
            </div>
        <p>@Html.DisplayFor(model => model.PostContenido)</p>
        </div>

        
            <div class="col-1 text-end">
                <div>
                    <h6 style="background-color: #C3CFE2; font-size:13px;" class="p-1 text-center rounded-3">@Html.DisplayFor(model => model.PostCategoriaNombre)</h6>

                @if (ViewData["UsuarioId"] != null && int.TryParse(ViewData["UsuarioId"].ToString(), out int usuarioId) && usuarioId != Model.PostUsuarioId)
                {
                    <a href="@Url.Action("Edit", new { id = Model.PostId })" class="px-2 py-1" hidden>
                        <i class="bi bi-pencil-square"></i>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Edit", new { id = Model.PostId })" class="px-2 py-1">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                }
                    <!-- Resto de tu código -->
                </div>
            </div>

    </div>

</div>
