@model List<WriteMe_MVC.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@{
    bool usuarioAutenticado = User.Identity.IsAuthenticated;
}

@using System.Security.Claims

<div class="" style="">
    <div style="height: 10px; background-color:#095c30; width: 100%"></div>
    
    <div class="row d-flex justify-content-evenly" style=" margin-bottom: 60px;
    background-image: url('/assets/writing_green_2.png') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; width: 99.7vw">
    
        <div class="col-10" style="padding-bottom: 200px;">
            <h6 class=" text-white text-start " style="font-family: 'Noto Serif Balinese', serif; font-size: 70px; margin-top: 150px; ">Escribe, lee e inspira.  </h6>
            <h6 class=" text-white text-start " style="font-family: 'Noto Serif Balinese', serif; font-size: 20px; ">Cambia el mundo con cada palabra.</h6>
            @if (!usuarioAutenticado)
            {
                <div class="">
                    <a class="btn  text-white px-3" style="font-size:14px; background-color: black;" asp-area="" asp-controller="Usuarios" asp-action="IniciarSesion">Crear articulo</a>
                </div>

            } else
            {
                <div class="" style="">
                    <a class="btn  text-white px-4" style=" font-size:14px; background-color: black" asp-area="" asp-controller="Posts" asp-action="Create">Crear articulo</a>
                </div>
            }
        </div>

    </div>

    <div class="container mb-5" style=" ">
        @functions {
            string Truncate(string value, int length)
            {
                if (value.Length <= length)
                {
                    return value;
                }
                else
                {
                    return value.Substring(0, length) + " ...";
                }
            }
        }

        <div class="row mb-3">
            <div class="row d-flex justify-content-center">
                <form method="get" asp-action="Index" asp-controller="Home">
                    <div class="mb-3 d-flex">
                        <label for="categoria" class="form-labe fw-bolder" style="font-size:13px">Filtrar por facultad:</label>
                        <select id="categoria" name="categoria" class="form-select" style="font-size: 13px">
                            <option value="" >Todas las categorías</option>
                            @foreach (var categoria in Model.Select(post => post.PostCategoriaNombre).Distinct())
                            {
                                <option value="@categoria">@categoria</option>
                            }
                        </select>
                        <button type="submit" class="btn ms-3 text-white" style="background-color: #30915b; font-size: 13px">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>

        @if (Model != null && Model.Any())
        {
            <div class="row pb-5">
                <h2 class="mb-5 fs-3 text-center" style="">Articulos</h2>
                @foreach (var post in Model)
                {
                    <div class="col-4 mb-3" >
                        <a href="@Url.Action("PostDetails", "Posts", new { id = post.PostId })" class="text-decoration-none text-black" style="display: block; position: relative;">
                            <div class="card mb-2 " style="box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; transition: background-color 0.3s, color 0.3s; border-radius: 8px">
                                <div class="card-body">
                                    <h6 style="font-size:12px" class="mb-1">@post.PostUsuarioNombre ▪ @post.PostFechaPublicacion.ToShortDateString()</h6>
                                    <h5 class="card-title mb-0">@post.PostTitulo</h5>
                                    <p class="card-text mb-1" style="font-size:13px;">@Truncate(post.PostContenido, 60)</p>
                                    <p class="card-text mb-1 px-3" style="font-size:12px; width:fit-content; background-color: rgb(25, 135, 84, 0.5)">#@post.PostCategoriaNombre</p>
                                </div>
                            </div>
                        </a>
                        <style>
                            /* Estilo para el hover */
                            .text-decoration-none:hover .card {
                                background-color: #252525;
                                color: white;
                            }
                        </style>
                    </div>
                }
            </div>

        } else
        {
             <p>No hay artículos disponibles.</p>
        }

    </div>
</div>









<script>
    function Truncate(text, length) {
        return text.length > length ? text.substring(0, length) + "..." : text;
    }

    function expandContent(postId) {
        var contentElement = document.getElementById("postContent-" + postId);
        var fullContent = /* Obtén el contenido completo del servidor o de donde lo tengas */
        contentElement.innerText = fullContent;
    }
</script>
