@model WriteMe_MVC.Models.Usuario

<div class="container mt-5">
    <div class="col-8 mt-4 d-flex align-items-center">
        <a href="@Url.Action("Edit", "Usuarios")" class="me-3">
            <i class="bi bi-arrow-left-circle-fill text-dark" style="font-size: 1.5rem;"></i>
        </a>
        <h6 class="mb-0">@Html.DisplayFor(model => model.UsuNombre) estas seguro de que quieres eliminar tu cuenta?</h6>
    </div>
    <div>
        <hr />
        <dl class="row">
  
            <dt class = "col-sm-2" style="font-size: 13px;">
                @Html.DisplayNameFor(model => model.UsuNombre)
            </dt>
            <dd class="col-sm-10" style="font-size: 13px;">
                @Html.DisplayFor(model => model.UsuNombre)
            </dd>
            <dt class="col-sm-2" style="font-size: 13px;">
                @Html.DisplayNameFor(model => model.UsuCorreo)
            </dt>
            <dd class="col-sm-10" style="font-size: 13px;">
                @Html.DisplayFor(model => model.UsuCorreo)
            </dd>
    
 
        </dl>
    
        <form asp-action="Delete" asp-route-id="@Model.UsuId">
            <input type="submit" value="Eliminar" class="btn btn-danger" style="font-size: 13px;" />
        </form>
    </div>
</div>
